.container {
    padding: 50px;
    font-family: 'Cinzel Decorative', cursive;
    font-style: bold;
    color: white;
}

.button {
    background-color: black;
    font-family: 'Cinzel Decorative', cursive;
    font-style: bold
    
}

#mainTitle {
    font-size: 60px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    
}

#timerDiv {
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;

}

#questionDiv {
    font-size: 30px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}

#answerDiv {
    font-size: 20px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}
