button {
    position: relative;
    font-family: 'Cinzel Decorative', cursive;
}

.container {
    padding: 50px;
    font-family: 'Cinzel Decorative', cursive;
    font-style: bold;
    color: white;
}


.choice {
    font-size: 30px;
    font-family: 'Cinzel Decorative', cursive;
    font-style: bold;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    text-align: center;
    
}

.choice:hover{
    background-color: grey;
}


#mainTitle {
    font-size: 60px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
    
}

#timerDiv {
    font-size: 35px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;

}

#questionDiv {
    font-size: 30px;
    font-family: 'Cinzel Decorative', cursive;
    text-align: center;
}

