.container {
    padding: 50px;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.button {
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color: white;
}

#mainTitle {
    font-size: 60px;
    text-align: center;
    
}

#timerDiv {
    font-size: 35px;
    text-align: center;

}
